.user-disabled {
    opacity: 0.4;
}


span.role_tag {
    font-size: 80%;
    background-color: #a5a5a5;
    border-radius: 3px;
    padding: 3px 7px 4px;
    white-space: nowrap;
    line-height: 216%;
    color: white;
}